/// global variables are defined here
/// prefix for css custom property
$prefix: opc !default;

/// adding support for css custom property by default
$USE-FALLBACK: true;

/// Global variables for Gap/ Spacing in layout
/// Small Space
$opc-global-spacer-sm-4px: 4px;
$opc-global-spacer-sm-8px: 8px;
$opc-global-spacer-sm-12px: 12px;
$opc-global-spacer-sm-16px: 16px;
/// Medium Space
$opc-global-spacer-md-20px: 20px;
$opc-global-spacer-md-24px: 24px;
$opc-global-spacer-md-28px: 28px;
$opc-global-spacer-md-32px: 32px;
/// Large Space between the containers
$opc-global-spacer-lg-64px: 64px;
$opc-global-spacer-lg-72px: 72px;
$opc-global-spacer-lg-144px: 144px;
